	
	@font-face {
		font-family: Tfont-1;
		src: local(Microsoft JhengHei);
	}
	
	@font-face {
		font-family: Tfont-1;
		font-style: normal;
		font-weight: 400;
		unicode-range: U+3040-30FF, U+31F0-31FF;
		src: url(https://fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.eot);
		src: url(https://fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.eot?#iefix) format('embedded-opentype'), 
			 url(https://fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.woff2) format('woff2'),
			 url(https://fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.woff) format('woff'),
			 url(https://fonts.gstatic.com/ea/sawarabigothic/v1/SawarabiGothic-Regular.ttf) format('truetype');
	}
	
	body {
		font-family: 'Itim', Tfont-1, Microsoft JhengHei, sans-serif; 
		font-size:0.9rem;
		background-color:#000000;
		color:#FFF;
	}
	
	a {
		color: #FFF;
	}
	
	* {
		box-sizing: border-box;
	}
	/*z-index
	10: Btn_ToTop
	11: Description_Site_2
	12: SkillPoint
	13: .ATool_Menu
	14: SkillAlloSimu_STList
	15: SkillAlloSimu_Menu_List
	21: #SkillAlloSimu_Menu
	Loading_Page: 30
	*/
	
	#Loading_Page {
		position: fixed;
		width:100%;
		height: 100%;
		top: 0%;
		left: 0%;
		padding-top: 3rem;
		line-height: 2rem;
		text-align:center;
		z-index: 30;
		background-color:#000;
	}
	
	/*===============================================================*/
	header {
		max-width:50rem;
		margin:0 auto;
	}
	
	header ul{
		padding-left:0.6rem;
		list-style:none;
	}
	header li {
		list-style:none;
		display:inline-block;
		padding:0.5rem;
		font-size:1rem;
		transition:0.2s;
		cursor:pointer;
		border-radius: 0.2rem;
	}
	header li:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}
	header a {
		white-space:nowrap;
	}
	/*===============================================================*/
	footer {
		text-align:center;
		padding:1.5rem 0.5rem;
		padding-bottom:4rem;
	}
	footer a {
		color:#FFF;
	}
	/*===============================================================*/
	#Btn_ToTop {
		background-color: #FFF;
		color: #555;
		font-size: 1.2rem;
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
		text-align: center;
		border-radius: 50%;
		position: fixed;
		right: 3%;
		bottom: 30%;
		box-shadow: 0.1rem 0.1rem 0.9rem #FFF;
		font-weight: bold;
		opacity: 0.4;
		cursor: pointer;
		display: none;
		transition: 0.5s;
		font-family: 'Patrick Hand', cursive;
		z-index: 10;
	}
	#Btn_ToTop:hover {
		opacity:1;
	}
	
	#languageList {
		max-width: 50rem;
		margin: 0rem auto;
		padding-top: 0.5rem;
		text-align: right;
	}
	#languageList a {
		cursor: pointer;
		color: #999;
		transition: 0.4s;
	}
	#languageList a:hover {
		color: #FFF;
	}
	.languageList_Cur {
		color: #FFF!important;
	}
	
	/*===============================================================*/
	#Section_1, #Section_2, #Section_3, #Section_4 {
		box-shadow: inset -0.1rem -0.1rem 0.7rem #FFF;
		padding: 1rem 0.6rem;
		min-height: 20rem;
		max-width: 50rem;
		margin: 0rem auto;
	}
	#Section_2, #Section_3, #Section_4 {
		display: none;
	}
	/*===============================================================*/
	
	.TextBlock {
		padding: 0.6rem;
	}
	.Text_Small_1 {
		font-size:0.9rem;
	}
	/*hr ============================================================*/
	.hr_1  {
		border:0rem;
		box-shadow:0rem 0rem 0.4rem 0.1rem rgb(255, 255, 255);
	}
	.hr_2 {
		border:0rem;
		box-shadow:0rem 0rem 0.2rem 0.07rem rgb(255, 255, 255);
		margin:0.1rem 0rem;
	}
	.hr_3 {
		border:0rem;
		box-shadow:0rem 0rem 0.2rem 0.07rem rgb(255, 255, 255);
		margin: 0rem;
		margin-bottom: 1.5rem;
	}
	
	/*===============================================================*/
	
	
	.BagItemField {
		border:0.15rem #ADFEDC solid;
		border-radius:0.5rem;
		width:2.8rem;
		height:2.8rem;
		margin:0.2rem;
		background-color:#E8FFF5;
	}
	
	/*===============================================================*/
	#Section_2_Menu ul, #Section_3_Menu ul, #Section_4_Menu ul {
		list-style:none;
		padding:0.8rem 0.6rem;
		margin-top:0rem;
	}
	#Section_2_Menu li, #Section_3_Menu li, #Section_4_Menu li {
		background-color:rgb(114, 127, 122);
		margin:0.2rem;
		padding:0.5rem;
		border-radius:0.4rem;
		display:inline-block;
		transition:0.8s;
		cursor:pointer;
	}
	#Section_2_Menu li:hover, #Section_3_Menu li:hover, #Section_4_Menu li:hover {
		background-color:rgb(171, 190, 183);
		box-shadow:inset 0rem 0rem 1rem rgb(214, 255, 238);
	}
	#Section_2_Menu a, #Section_3_Menu a, #Section_4_Menu a {
		font-size:1.1rem;
		color:rgb(229, 255, 244);
	}
	
	.SectionMenu_CurBtn {
		background-color:rgb(171, 190, 183)!important;
		box-shadow:inset 0rem 0rem 1rem rgb(214, 255, 238);
	}
	
	.MenuPage {
		display:none;
	}
	
	
	