	
	
	@media screen and (max-width: 35rem), screen and (max-height:  35rem) {
		#Section_1, #Section_2, #Section_3, #Section_4 {
			padding: 0.8rem 0.2rem;
		}
		#Description_Site_1, #Description_Site_2 {
			padding:0.5rem 0rem;
			margin:0.3rem;
		}
		#Description_Site_2 {
			right:0rem;
			max-width:100%;
			margin-left:0rem;
			margin-right:0rem;
		}
		#Description_Site_1 table, #Description_Site_2 table {
			width:100%;
			border-spacing:0.1rem;
		}
		#Description_Site_1 td, #Description_Site_2 td {
			padding:0.4rem;
		}
		#Description_Site_1 ul, #Description_Site_2 ul, .VerInfo_ul {
			padding:0.8rem 0.6rem;
			border-radius:0.6rem;
		}
		#Btn_ToTop {
			font-size:0.9rem;
			width:2.8rem;
			height:2.8rem;
			line-height:2.8rem;
			bottom:4rem;
		}
		.TextBlock {
			padding: 0.3rem;
		}
		.ATool_Menu {
			right: 0rem!important;
			bottom: 0rem!important;
		}
		#SkillAlloSimu_STList {
			right: 0rem!important;
			bottom: 3.5rem!important;
		}
		#ATool_MenuBlock {
			right: 0rem!important;
		}
		#site_Skill td, #SkillAlloSimu_main td {
			padding: 0.3rem 0.1rem;
		}
		#site_Arms {
			padding-top:1.2rem;
		}
		#CharaSimu_main {
			width: 100%!important;
			margin: 10% 0!important;
			height: 95%;
			top: 2%;
		}
		#CharaSimu_setEquipAbility {
			width: 100%;
			left: 0rem;
		}
	}
	
	@media screen and (max-width: 20rem) {
		#ATool_MenuList {
			width:100%;
			left: 0%;
		}
	}
		