
	/* [ SkillLv ]========================================= */
	
	#site_SkillLv {
		clear:both;
		display:none;
		margin:0rem;
		padding:0rem 0.2rem;
	}
	.SkillLv_button, .SkillLv_button_current {
		cursor:pointer;
		font-size:1.1rem;color:#FFF;text-align:center;
		padding:0.4rem 0.8rem;
		transition: 0.81s;
		display:inline-block;
	}
	.SkillLv_button:hover {
		box-shadow:inset 0rem 0rem 0.7rem rgb(194, 255, 228);
		background-color:rgba(194, 255, 228, 0.3);
	}
	.SkillLv_button_current {
		background-color:rgba(194, 255, 228, 0.4);
		box-shadow:inset 0rem 0rem 0.7rem rgb(194, 255, 228);
	}