
/* [ Skill Tree Type ]========================================= */

	#site_SkillTreeType {
		padding-top:0.5rem;
	}
	#site_SkillTreeType ul {
		padding-left:0.2rem;
		list-style:none;
	}
	#site_SkillTreeType li, .SkillTreeType_li_current {
		margin:0.2rem;
		cursor:pointer;
		background-color:rgb(96, 115, 107);
		transition:0.7s;
		display:inline-block;
		border-radius:0.7rem;
		font-size:1.1rem;
		color:rgb(229, 255, 244);
		transition: 0.81s;
	}
	#site_SkillTreeType li:hover, .SkillTreeType_li_current:hover {
		background-color:rgb(150, 179, 167);
		box-shadow:inset 0rem 0rem 1rem rgb(214, 255, 238);
	}
	.SkillTreeType_li_cur {
		box-shadow:inset 0rem 0rem 1rem rgb(214, 255, 238)!important;
		background-color:rgb(161, 191, 179)!important;
	}
	
	#SkillTreeType_Caption {
		padding-left:1rem;
		display:none;
	}
	
	#site_SkillTreeType li>span {
		width:6rem;
		height:6rem;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		border-spacing: 0;
	}