	
	/* [ Skill Tree Caption ]========================================= */
	
	#SkillTree_Caption {
		padding:0.2rem 1rem 0.5rem 1.5rem;
		color:rgb(255, 255, 255);
		text-shadow:0.1rem 0.1rem 0.4rem #555;
	}
	
	
	/* [ Skill Tree ]========================================= */
	#site_SkillTree {
		display:none;
		margin-bottom:0.5rem;
		margin-top:0rem;
		box-shadow:inset 0rem 0rem 1.5rem rgb(214, 255, 238);
		background-color:rgb(160, 191, 179);
		border-radius:0.8rem;
		padding:0.6rem;
	}
	#site_SkillTree ul {
		padding-left:0rem;
		list-style:none;
		margin:0rem 0.5rem;
	}
	#site_SkillTree li {
		display:inline-block;
		white-space:nowrap;
		cursor:pointer;
		font-size:1.3rem;
		color:rgb(255, 255, 219);
		text-align:center;
		padding:0.2rem 0.35rem;
		margin:0.1rem;
		transition: 0.5s;
		border-radius:0.20rem;
		text-shadow:0.2rem 0.2rem 0.6rem #555;
	}
	
	.SkillTree_button_cur {
		
	}
	#site_SkillTree li:hover, .SkillTree_button_cur {
		background-color:rgba(255, 255, 219, 0.3);
		box-shadow:inset 0rem 0rem 1rem rgb(255, 255, 219);
	}
	