	
	/* [ Skill Tree Caption ]========================================= */
	
	#SkillTree_Caption {
		padding:0rem 1rem 1rem 2rem;
		color:rgb(255, 255, 255);
		text-shadow:0.1rem 0.1rem 0.4rem #555;
	}
	
	
	/* [ Skill Tree ]========================================= */
	#site_SkillTree {
		display:none;
		margin-bottom:0.5rem;
		margin-top:0rem;
		padding-top:0.3rem;
		box-shadow:inset 0rem 0rem 1.5rem rgb(214, 255, 238);
		background-color:rgba(214, 255, 238, 0.75);
		border-radius:0.8rem;
		padding-right:1rem;
	}
	#site_SkillTree ul {
		padding-left:1rem;
		list-style:none;
		margin-bottom:0.4rem;
	}
	#site_SkillTree li {
		cursor:pointer;
		display:inline-block;
	}
	#site_SkillTree a {
		white-space:nowrap;
	}
	
	.SkillTree_button, .SkillTree_button_current {
		cursor:pointer;
		font-size:1.3rem;color:rgb(255, 255, 219);
		text-align:center;
		display:none;
		padding:0.2rem 0.35rem;
		margin-bottom:0.2rem;
		transition: 0.81s;
		border-radius:0.20rem;
		text-shadow:0.2rem 0.2rem 0.6rem #555;
	}
	.SkillTree_button:hover {
		background-color:rgba(255, 255, 219, 0.3);
		box-shadow:inset 0rem 0rem 1rem rgb(255, 255, 219);
	}
	.SkillTree_button_current {
		background-color:rgba(255, 255, 219, 0.4);
		box-shadow:inset 0rem 0rem 1rem rgb(255, 255, 219);
	}
	