
	#SkillAlloSimu_STList {
		display:none;
		padding:0.6rem;
		box-shadow:inset 0rem 0rem 1.5rem rgb(214, 255, 238);
		background-color: rgb(160, 191, 179);
		border-radius:0.8rem;
		position: fixed;
		bottom: 3.5rem;
		right:20%;
		bottom:11.5rem;
		overflow-y: auto;
		max-width:48rem;
		z-index: 14;
	}
	
	#SkillAlloSimu_STList ul {
		padding:0rem 0.6rem;
		margin: 0rem;
		list-style:none;
	}
	#SkillAlloSimu_STList li {
		display:inline-block;
	}
	#SkillAlloSimu_STList a {
		display:inline-block;
		white-space:nowrap;
		cursor:pointer;
		font-size:1.3rem;
		color:rgb(255, 255, 219);
		text-align:center;
		padding:0.2rem 0.35rem;
		margin:0.1rem;
		transition: 0.5s;
		border-radius:0.20rem;
		text-shadow:0.2rem 0.2rem 0.6rem #555;
	}
	#SkillAlloSimu_STList a:hover {
		background-color:rgba(255, 255, 219, 0.3);
		box-shadow:inset 0rem 0rem 1rem rgb(255, 255, 219);
	}
	.skillAlloSimu_STList_cur {
		background-color:rgba(255, 255, 219, 0.3)!important;
		box-shadow:inset 0rem 0rem 1rem rgb(255, 255, 219)!important;
	}
	
	/* ======================================================= */
	
	#SkillAlloSimu_main table {
		background-color:rgba(178, 178, 194, 136);
		box-shadow:inset 0rem 0rem 1.5rem rgb(255, 255, 224);
		font-size:0.95rem;
		color:#EEE;
		margin-top:0.5rem;
	}
	
	#SkillAlloSimu_main td {
		padding:0.3rem 0.15rem;
		border-width:0.07rem;
		border-style:solid;
		border-color:transparent transparent #FFF transparent;
		text-align:center;
		transition: 0.8s;
	}
	
	
	#SkillAlloSimu_skillLvSum {
		font-size:1.1rem;
		background-color:rgb(200, 200, 200);
		color: rgb(0, 76, 153);
		padding:0.5rem;
		border-radius: 0.3rem;
		clear: right;
	}
	
	#SkillAlloSimu_BuildText_textarea {
		max-width:100%;
		min-width:100%;
		width:100%;
		height: 15rem;
		padding:0.2rem;
		font-family:Microsoft JhengHei, sans-serif;
		font-size:0.85rem;
		margin-bottom:0.3rem;
		background-color: #EEE;
	}
	
	#SkillAlloSimu_SaveCode_text {
		width: 100%;
	}
