	
	:root {
		--charaSimu_mainColor1: rgb(160, 146, 162);
		--charaSimu_mainColor2: rgb(110, 100, 111);
	}
	
	.charaSimu_switchMode {
		text-align: right;
		padding: 0.3rem;
	}
	.charaSimu_switchMode span {
		cursor: pointer;
		padding:0.4rem 0.7rem;
		transition: 0.3s;
		border-radius: 0.5rem 0 0 0.5rem;
	}
	.charaSimu_switchMode span:hover {
		background-color: var(--charaSimu_mainColor1); 
	}
	#charaSimu_savingSystem_site {
		padding: 0.4rem;
	}
	#charaSimu_savingSystem_site ul {
		list-style: none;
		padding: 0.1rem 0.6rem;
	}
	#charaSimu_savingSystem_site li {
		padding: 0.3rem 0.5rem;
		background-color: var(--charaSimu_mainColor1);
		border: 0.1rem transparent solid;
		border-radius: 0.4rem;
		display: inline-block;
		margin: 0.2rem;
		transition: 0.3s;
		cursor: pointer;
	}
	#charaSimu_savingSystem_site li:hover {
		border: 0.1rem #CCC solid;;
	}
	
	
	
	#CharaSimu_main_ {
		margin:0 calc(50% - 20rem);
		width:38rem;
		position: fixed;
		top: 10%;
		height: 80%;
		overflow-y: auto;
		display: none;
	}
	#CharaSimu_main {
		border:0.3rem var(--charaSimu_mainColor1) solid;
		background-color: var(--charaSimu_mainColor2);
		border-radius: 0.5rem;
		text-shadow: 0.1rem 0.1rem 1rem #666;
	}
	
	#CharaSimu_menu {
		list-style: none;
		background-color: var(--charaSimu_mainColor1);
		margin: 0rem;
		padding-left: 0rem;
		position: sticky;
		top: 0;
	}
	#CharaSimu_menu li {
		display: inline-block;
		margin-right:0.2rem;
		margin-left: 1px;
		padding: 0.4rem 0.8rem;
		font-size: 1rem;
		border-radius: 0.6em 0.6rem 0 0;
		cursor: pointer;
		font-weight: bold;
		transition: 0.3s;
	}
	
	#CharaSimu_menu li:hover, .CharaSimu_menu_li_cur {
		background-color: var(--charaSimu_mainColor2);
	}
	
	#CharaSimu_setEquip_page {
		padding: 0.4rem;
		font-size: 0.9rem;
	}
	
	.equipField_fieldAbilitys_menu {
		margin: 0;
		padding: 0;
		padding-top: 0.2rem;
		list-style: none;
	}
	.equipField_fieldAbilitys_menu li {
		padding: 0.3rem 0.4rem;
		border-radius: 0.4rem 0.4rem 0 0;
		background-color: var(--charaSimu_mainColor1);
		transition: 0.3s;
		display: inline-block;
		font-size: 0.9rem;
		margin: 0.2rem;
		margin-bottom: 0;
		transition: 0.3s;
		cursor: pointer;
		border: 1px transparent solid;
	}
	.equipField_fieldAbilitys_menu_li_cur, .equipField_fieldAbilitys_menu li:hover {
		background-color: var(--charaSimu_mainColor2)!important;
		border: 1px var(--charaSimu_mainColor1) solid!important;
		border-bottom-color: transparent!important;
	}
	.equipField_fieldAbilitys_menu span {
		float: right;
	}
	
	
	#CharaSimu_setEquipAbility {
		display: none;
		padding: 0.3rem;
		list-style: none;
		max-width: 20rem;
		height: 70%;
		margin-top: 0.5rem;
		left: calc(50% - 10rem);
		overflow-y: auto;
		position: fixed;
		background-color: #555;
		border-radius: 0.5rem;
	}
	#CharaSimu_setEquipAbility_header {
		position: sticky;
		top: 0rem;
	}
	#CharaSimu_setEquipAbility_header a {
		cursor: pointer;
	}
	#CharaSimu_setEquipAbility_header_search {
		padding: 0.2rem;
		font-size: 0.9rem;
		margin: 0.3rem;
		margin-right: 0.5rem;
	}
	#CharaSimu_setEquipAbility_abilityList {
		padding: 0rem;
	}
	#CharaSimu_setEquipAbility_abilityList li {
		padding: 0.2rem 0.4rem;
		margin: 0.1rem;
		background-color: #666;
		transition: 0.3s;
		display: inline-block;
		border-radius: 0.3rem;
		cursor: pointer;
	}
	#CharaSimu_setEquipAbility_abilityList li:hover {
		background-color: #999;
	}
	#CharaSimu_setEquipAbility_showDetail {
		padding: 0.4rem;
	}
	
	.charaSimu_statPoint_input {
		border: 0;
		width:2.5rem;
		font-size: 0.8rem;
		padding-top: 0;
		background: transparent;
		border-bottom: 1px var(--charaSimu_mainColor1) solid;
		color: #FFF;
		text-align: center;
	}
	
	.selStatPointType_ul {
		list-style: none;
		margin: 0 0.3rem;
		padding: 0;
		display: inline-block;	
	}
	.selStatPointType_ul li {
		display: inline-block;
		padding: 0.1rem 0.2rem;
		border: 1px var(--charaSimu_mainColor1) solid;
		margin: 0.1rem;
		cursor: pointer;
		transition: 0.3s;
	}
	
	.selStatPointType_ul_li_cur, .selStatPointType_ul li:hover {
		background-color: var(--charaSimu_mainColor1)!important; 
	}
	
	.equipField_equipTypeList {
		list-style: none;
		padding: 0.4rem;
		margin: 0;
		color: #BBB;
	}
	.equipField_equipTypeList li {
		border-radius: 0 0.4rem 0 0;
		padding: 0.2rem 0.3rem;
		border: 1px var(--charaSimu_mainColor1) solid;
		margin: 0.1rem 0.2rem;
		display: inline-block;
		cursor: pointer;
	}
	.equipField_equipTypeList li:hover, .equipField_equipTypeList_li_cur {
		background-color: var(--charaSimu_mainColor1);
		color: #FFF;
	}
	
	
	#equipField_fieldAbilitys_main, #equipField_fieldAbilitys_xtal1, #equipField_fieldAbilitys_xtal2 {
		padding: 0.3rem 0.1rem;
		list-style: none;
		margin: 0.2rem;
		border: 1px var(--charaSimu_mainColor1) solid;
		min-height: 10rem;
		margin-top: -0.1rem;
	}
	#equipField_fieldAbilitys_main li, #equipField_fieldAbilitys_xtal1 li, #equipField_fieldAbilitys_xtal2 li {
		display: inline-block;
		margin: 0.1rem 0.3rem;
		cursor: pointer;
	}
	#equipField_fieldAbilitys_main li>img, #equipField_fieldAbilitys_xtal1 li>img, #equipField_fieldAbilitys_xtal2 li>img {
		margin-left: 0.2rem;
	}
	#equipField_fieldAbilitys_main input, #equipField_fieldAbilitys_xtal1 input, #equipField_fieldAbilitys_xtal2 input {
		width:2.5rem;
		font-size: 0.8rem;
		padding-top: 0;
		background: transparent;
		border-bottom: 1px var(--charaSimu_mainColor1) solid;
		color: #FFF;
	}
	.equipField_name, .equipField_fieldValue, .equipField_refining, .equipField_stability {
		background: transparent;
		border: 0;
		border-bottom: 1px var(--charaSimu_mainColor1) solid;
		color: #EEE;
		font-size: 1rem;
		text-align: center;
		padding: 0.1rem;
	}
	.equipField_name {
		width: 95%;
		font-size: 1.2rem;
		text-align: left;
	}
	.equipField_fieldValue {
		width: 3rem;
	}
	.equipField_refining {
		width: 2.5rem;
	}
	.equipField_stability {
		width: 3rem;
	} 
	
	.equipField_mainBlock_1, .equipField_mainBlock_2, .equipField_mainBlock_3 {
		max-width: 25rem;
	}
	.equipField_mainBlock_1 {
		margin-bottom: 0.6rem;
	}
	.equipField_mainBlock_3 {
		max-width: 12rem;
		float: left;
	}
	.equipField_blockUnit {
		display: inline-block;
		margin: 0.2rem;
	}
	.equipField_textTitle_1 {
		margin-right: 0.3rem;
		font-size: 1rem;
	}
	
	/* =================================== */
	#CharaSimu_setEquipShow {
		padding: 0.4rem;
		padding-top: 0;
	}
	
	.charaSimu_showEquipFieldAbilitys {
		max-width: 20rem;
		padding: 0.4rem;
		padding-left: 0.2rem;
	}
	.charaSimu_showEquipFieldAbilitys a {
		padding: 0.2rem 0.3rem;
		margin-left: 0.2rem;
	}