	
	:root {
		--charaSimu_mainColor1: rgb(160, 146, 162);
		--charaSimu_mainColor2: rgb(110, 100, 111);
	}
	
	.charaSimu_switchMode {
		text-align: right;
		padding: 0.3rem;
	}
	.charaSimu_switchMode span {
		cursor: pointer;
		padding:0.4rem 0.7rem;
		transition: 0.3s;
		border-radius: 0.5rem 0 0 0.5rem;
		box-shadow: 0.1rem 0.1rem 0.6rem #666;
		background-color: rgb(136, 124, 137);
	}
	.charaSimu_switchMode span:hover {
		background-color: var(--charaSimu_mainColor1);
	}
	#charaSimu_savingSystem_site {
		padding: 0.4rem;
	}
	#charaSimu_savingSystem_site ul, .charaSimu_equipSaveLoad_main ul {
		list-style: none;
		padding: 0.1rem 0.6rem;
	}
	#charaSimu_savingSystem_site li, .charaSimu_equipSaveLoad_main li {
		padding: 0.3rem 0.5rem;
		background-color: var(--charaSimu_mainColor1);
		border: 0.1rem transparent solid;
		border-radius: 0.4rem;
		display: inline-block;
		margin: 0.2rem;
		transition: 0.3s;
		cursor: pointer;
	}
	#charaSimu_savingSystem_site li:hover, .charaSimu_equipSaveLoad_main li:hover {
		border: 0.1rem #CCC solid;;
	}
	
	.charaSimu_equipSaveLoad_main {
		border-top: 1px var(--charaSimu_mainColor1) solid;
		padding: 0.4rem;
		padding-top: 0.8rem;
	}
	
	
	#CharaSimu_main_ {
		margin: 0 calc(50% - 17.5rem);
		width: 35rem;
		position: fixed;
		top: 10%;
		max-height: 80%;
		overflow-y: auto;
		display: none;
		z-index: 23;
	}
	#CharaSimu_main {
		border:0.3rem var(--charaSimu_mainColor1) solid;
		background-color: var(--charaSimu_mainColor2);
		border-radius: 0.5rem;
		text-shadow: 0.1rem 0.1rem 1rem #666;
		z-index: 23;
	}
	#CharaSimu_main input {
		font-family: 'Itim'
	}
	
	#CharaSimu_main input::-webkit-input-placeholder { /* WebKit browsers */
		color: #AAA;
	}
	#CharaSimu_main input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #AAA;
	}
	#CharaSimu_main input::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #AAA;
	}
	#CharaSimu_main input:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #AAA;
	}
	
	#CharaSimu_menu {
		list-style: none;
		background-color: var(--charaSimu_mainColor1);
		margin: 0rem;
		padding-left: 0rem;
		position: sticky;
		top: 0;
		z-index: 24;
	}
	#CharaSimu_menu li {
		display: inline-block;
		margin-right:0.2rem;
		margin-left: 1px;
		padding: 0.4rem 0.7rem;
		font-size: 1rem;
		border-radius: 0.6em 0.6rem 0 0;
		cursor: pointer;
		font-weight: bold;
		transition: 0.3s;
	}
	#CharaSimu_menu li>a {
	}
	
	#CharaSimu_menu li:hover, .CharaSimu_menu_li_cur {
		background-color: var(--charaSimu_mainColor2);
	}
	
	#CharaSimu_setEquip_page {
		padding: 0.4rem;
		font-size: 0.9rem;
	}
	
	.equipField_fieldAbilitys_menu {
		margin: 0;
		padding: 0;
		padding-top: 0.2rem;
		list-style: none;
	}
	.equipField_fieldAbilitys_menu li {
		padding: 0.3rem 0.4rem;
		border-radius: 0.4rem;
		background-color: var(--charaSimu_mainColor1);
		transition: 0.3s;
		display: inline-block;
		font-size: 0.9rem;
		margin: 0.2rem;
		margin-bottom: 0;
		transition: 0.3s;
		cursor: pointer;
		border: 1px transparent solid;
	}
	.equipField_fieldAbilitys_menu li>img, .chara_mainHeaderMenu li>img {
		height:14px;
		width:14px;
		margin-right: 0.2rem;
	}
	.equipField_fieldAbilitys_menu_li_cur, .equipField_fieldAbilitys_menu li:hover {
		background-color: var(--charaSimu_mainColor2)!important;
		border: 1px var(--charaSimu_mainColor1) solid!important;
	}
	.equipField_fieldAbilitys_menu span {
		float: right;
	}
		
	#CharaSimu_setEquipAbility, #CharaSimu_selDefaultEquip {
		display: none;
		padding: 0.3rem;
		list-style: none;
		max-width: 20rem;
		height: 70%;
		margin-top: 0.5rem;
		left: calc(50% - 10rem);
		overflow-y: auto;
		position: fixed;
		background-color: var(--charaSimu_mainColor2);
		border-radius: 0.5rem;
		border: 0.1rem #BBB solid;
		z-index: 24;
	}
	#CharaSimu_setEquipAbility_header, #CharaSimu_selDefaultEquip_header {
		position: sticky;
		top: 0rem;
	}
	#CharaSimu_setEquipAbility_header a, #CharaSimu_selDefaultEquip a {
		cursor: pointer;
	}
	#CharaSimu_setEquipAbility_header_search, #CharaSimu_selDefaultEquip_header_search {
		padding: 0.2rem;
		font-size: 0.9rem;
		margin: 0.2rem;
		width: 13rem;
		vertical-align:middle;
	}
	#CharaSimu_setEquipAbility_abilityList, #CharaSimu_selDefaultEquip_defaultEquipList {
		padding: 0rem;
	}
	#CharaSimu_setEquipAbility_abilityList li, #CharaSimu_selDefaultEquip_defaultEquipList li {
		padding: 0.2rem 0.4rem;
		margin: 0.1rem;
		background-color: var(--charaSimu_mainColor1);
		transition: 0.3s;
		display: inline-block;
		border-radius: 0.3rem;
		cursor: pointer;
	}
	#CharaSimu_setEquipAbility_abilityList li:hover, #CharaSimu_selDefaultEquip_defaultEquipList li:hover {
		background-color: rgb(190, 173, 192);
	}
	#CharaSimu_setEquipAbility_showDetail {
		padding: 0.4rem;
	}
	#CharaSimu_setEquipAbility_showDetail span>a {
		color: inherit;
	}
	
	.charaSimu_statPoint_input {
		border: 0;
		width:2.5rem;
		font-size: 0.9rem;
		padding-top: 0;
		background: transparent;
		border-bottom: 1px var(--charaSimu_mainColor1) solid;
		color: #FFF;
		text-align: center;
	}
	
	.selStatPointType_ul {
		list-style: none;
		margin: 0 0.3rem;
		padding: 0;
		display: inline-block;	
	}
	.selStatPointType_ul li {
		display: inline-block;
		padding: 0.1rem 0.2rem;
		border: 1px var(--charaSimu_mainColor1) solid;
		margin: 0.1rem;
		cursor: pointer;
		transition: 0.3s;
	}
	
	.selStatPointType_ul_li_cur, .selStatPointType_ul li:hover {
		background-color: var(--charaSimu_mainColor1)!important; 
	}
	
	.equipField_equipTypeList {
		list-style: none;
		padding: 0.4rem;
		margin: 0;
		color: #BBB;
	}
	.equipField_equipTypeList li {
		border-radius: 0 0.4rem 0 0;
		padding: 0.2rem 0.3rem;
		border: 1px var(--charaSimu_mainColor1) solid;
		margin: 0.1rem 0.2rem;
		display: inline-block;
		cursor: pointer;
	}
	.equipField_equipTypeList li:hover, .equipField_equipTypeList_li_cur {
		background-color: var(--charaSimu_mainColor1);
		color: #FFF;
	}
	
	
	#equipField_fieldAbilitys_main, #equipField_fieldAbilitys_xtal1, #equipField_fieldAbilitys_xtal2 {
		padding: 0.3rem 0.1rem;
		list-style: none;
		margin: 0.2rem;
		//border: 1px var(--charaSimu_mainColor1) solid;
		min-height: 10rem;
		margin-top: -0.1rem;
	}
	#equipField_fieldAbilitys_main li, #equipField_fieldAbilitys_xtal1 li, #equipField_fieldAbilitys_xtal2 li {
		display: inline-block;
		margin: 0.1rem 0.3rem;
		cursor: pointer;
	}
	#equipField_fieldAbilitys_main li>img, #equipField_fieldAbilitys_xtal1 li>img, #equipField_fieldAbilitys_xtal2 li>img {
		margin-left: 0.2rem;
	}
	#equipField_fieldAbilitys_main input, #equipField_fieldAbilitys_xtal1 input, #equipField_fieldAbilitys_xtal2 input {
		width:2.5rem;
		font-size: 0.8rem;
		padding-top: 0;
		background: transparent;
		border-bottom: 1px var(--charaSimu_mainColor1) solid;
		color: #FFF;
	}
	.equipField_name, .equipField_fieldValue, .equipField_refining, .equipField_stability {
		background: transparent;
		border: 0;
		border-bottom: 1px var(--charaSimu_mainColor1) solid;
		color: #EEE;
		font-size: 1rem;
		text-align: center;
		padding: 0.1rem;
	}
	.equipField_name {
		width: 95%;
		font-size: 1.2rem;
		text-align: left;
	}
	.equipField_fieldValue {
		width: 3rem;
	}
	.equipField_refining {
		width: 2.5rem;
	}
	.equipField_stability {
		width: 3rem;
	} 
	
	.equipField_mainBlock_1, .equipField_mainBlock_2, .equipField_mainBlock_3 {
		max-width: 25rem;
	}
	.equipField_mainBlock_1 {
		margin-bottom: 0.6rem;
	}
	.equipField_mainBlock_3 {
		width: 10.5rem;
		float: left;
	}
	.equipField_blockUnit {
		display: inline-block;
		margin: 0.2rem;
	}
	.equipField_textTitle_1 {
		margin-right: 0.3rem;
		font-size: 1rem;
	}
	
	/* =================================== */
	#CharaSimu_setEquipBase {
		padding: 0.3rem 0;
		background-color: var(--charaSimu_mainColor2);
	}
	#CharaSimu_setEquipShow {
		padding: 0.4rem;
		padding-top: 0;
	}
	
	.showChararEquip_main {
		padding: 0.5rem;
		border: 1px var(--charaSimu_mainColor1) solid;
		margin: 0.6rem;
	}
	
	.showChararEquip_hr1 {
		border: 1px var(--charaSimu_mainColor1) solid;
		margin: 0.3rem 0;
	}
	
	.charaSimu_showEquipFieldAbilitys {
		max-width: 25rem;
		padding: 0.4rem;
		padding-left: 0.2rem;
	}
	.charaSimu_showEquipFieldAbilitys span {
		padding: 0rem 0.3rem;
		margin-left: 0.2rem;
		display: inline-block;
	}
	
	.charaPassiveSkillList {
		border-spacing: 0;
		border-collapse: separate;
	}
	.charaPassiveSkillList tr {
		padding:0.1rem 0;
	}
	.charaPassiveSkillList td {
		font-size: 0.9rem;
		text-align: right;
		border-radius: 0.2rem;
		background-color: rgb(160, 146, 162, 0.25);
		border-bottom: 0.1rem var(--charaSimu_mainColor2) solid;
	}
	.charaPassiveSkillList td>input {
		width: 2.5rem;
		text-align: center;
		margin-left: 0.2rem;
		//padding-bottom: 0.1rem;
		background: transparent;
		border: 0;
		border-bottom: 1px var(--charaSimu_mainColor1) solid;
		color: #FFF;
	}
	
	.charaSimu_setting_block {
		padding: 0.6rem;
		margin-bottom: 1rem;
	} 
	.charaSimu_setting_block legend {
		padding: 0 0.5rem;
		font-size: 1.1rem;
	}
	.charaSimu_saveload_main input[type="text"] {
		padding: 0.1rem;
		font-size: 0.9rem;
	}
	.charaSimu_saveload_main ul {
		padding-left: 0.3rem;
		margin: 0.4rem 0;
	}
	
	.charaSimu_showStat_blockUnit1 {
		padding: 0.3rem;
		border-bottom: 1px var(--charaSimu_mainColor1) solid;
		margin: 0.15rem;
	}
	.charaSimu_showStat_blockUnit1 span {
		display: inline-block;
		margin: 0.1rem 0.2rem;
		position:relative;
	}
	.charaSimu_showStat_blockUnit1 span>span {
		background-color: rgba(255, 255, 255, 0.2);
		padding: 0.1rem 0.2rem;
		border-radius: 0.1rem;
		margin-right: 0.3rem;
	}
	.charaSimu_showStat_blockUnit1 ._hoverTitle {
		display:none;
		font-size: 0.8rem;
		background-color: rgb(120, 113, 122)!important;
		border: 1px #BBB solid;
		border-radius: 0.2rem;
		padding: 0.2rem 0.3rem;
		position: absolute;
		//min-width:5rem;
		z-index: 30;
	}
	._hoverTitle {
		top: 1.5rem;
		left: 0rem;
	}
	.charaSimu_showStat_blockUnit1 ._hoverTitle>span {
		white-space: nowrap;
		background-color: transparent;
		padding: 0;
	}
	.charaSimu_showStat_blockUnit1>span:hover ._hoverTitle {
		display: inline-block;
	}
	
	.chara_mainHeaderMenu {
		list-style: none;
		margin: 0.4rem;
		padding: 0 0.6rem;
	}
	.chara_mainHeaderMenu li {
		box-shadow: 0.1rem 0.1rem 0.6rem #666;
		padding: 0.3rem 0.5rem;
		display: inline-block;
		cursor: pointer;
		margin-left: 0.3rem;
		background-color: rgb(136, 124, 137);
		transition: 0.3s;
	}
	.chara_mainHeaderMenu li:hover, .chara_mainHeaderMenu li.cur {
		background-color: var(--charaSimu_mainColor1); 
	}
	
	#charaSimu_SaveCode_saveTitle {
		position: fixed;
		top: 30%;
		margin: 0 2rem;
		max-width: 17rem;
		z-index: 25;
		padding: 0.4rem;
		background-color: var(--charaSimu_mainColor2);
		border: 0.1rem #DDD solid;
		border-radius: 0.5rem;
		display: none;
	}
	#charaSimu_SaveCode_saveTitle input {
		padding: 0.1rem;
		width: 11.8rem;
	}
	
	#charaSimu_SaveCode_dataList {
		list-style: none;
		padding: 0.1rem;
	}
	#charaSimu_SaveCode_dataList li {
		padding: 0.3rem;
		border: 1px var(--charaSimu_mainColor1) solid;
		border-radius: 0.3rem;
		margin: 0.2rem!important;
		display: inline-block!important;
		width: 13rem;
	}
	#charaSimu_SaveCode_dataList li:hover {
		border: 1px #FFF solid;
	}
	
	#charaSimu_SaveCode_dataList li>div {
		text-align: right;
	}
	#charaSimu_SaveCode_dataList li>div>span {
		padding: 0.15rem;
		margin-left: 0.2rem;
		border: 1px #BBB solid;
		border-radius: 0.2rem;
		transition: 0.3s;
		display: inline-block;
	}
	#charaSimu_SaveCode_dataList li>div>span:hover {
		border: 1px #FFF solid;
		background-color: rgba(255, 255, 255, 0.2);
		cursor: pointer;
	}